* {
	box-sizing: border-box;
}

body {
	background: #ffffff;
	justify-content: center;
  flex-direction: column;
  display: block;
  width: 100%;
  height: 100%;
  margin: 00px;
  padding: 0;
  background-color: white;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
	background-color: slateblue;
	width: 100%;
	height: 100px;
	text-align: center;
	color: white;
	padding-top: 50px;
}

.title {

  text-align: center;
  padding-top: 17vh;
  color: white;
  font-size: 3em;

}

.logo {

  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  height: 3em;
  width: 10em;
  margin: 1em;

}

.join {

  position: absolute;
  font-size: 1.3em;
  right: 0;
  top: 0;
  margin: 2em;
  margin-top: 1.4em;
  color: white;
  text-decoration: none;

}

.join:hover {

  text-decoration: none;
  color: white;
}


.info {

  display: absolute;
  margin: 10% auto;
  width: 87%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  z-index: 1;
  background-color: rgb(236, 236, 236);
  border-radius: 0.3em;
  padding-bottom: 0em;

}

.con-cards-2 {
  text-align: center;
  background-color: #edf0ff;
  margin-top: 5%;
  height: 400px;
  padding-top: 10%;  
}

.card-body{
  padding-left: 10%;
  padding-right: 10%;
  margin: 3% auto;
}

#large {
  height: 60px;
}

.btn-container {
  margin-top: 30px;
}

.card-header {

  font-size: 1em;
}

.card-text {
  font-weight: regular;
  font-size: 15px;
  color: black;
}

.carousel img {

filter: brightness(95%);

}

.card-header {

  font-size: 2em;

}

.card-deck {

  margin: 2em;

}

.card-img-top {

  height: 40%;

}

.join:before {
  content: "";
  position: absolute;
  margin-bottom: -1px;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.join:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.crd {

  width: 300px;
  min-width: 300px;
  height: auto;
  background: #fff;
  border-radius: 30px;
  position: relative;
  z-index: 10;
  margin: 25px;
  min-height: 356px;
  transition: all .25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
  cursor: pointer;
  margin-top: 8em;

}

.crd:hover {

  transform: translate(0, -10px);
  box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
  cursor: default;

}

.crd:hover .con-img {

  transform: translate(0, -15px);

}

.crd:hover .con-img img.blur{

  opacity: .45;
  transform: translate(-10px, 26px) scale(.85);

}

.crd h3 {

  position: absolute;
  font-family: 'Oswald', sans-serif;
  left: 0px;
  top: 0px;
  padding: 15px;

}

.card i.bx {

  position: absolute;
  left: 0px;
  top: 0px;
  padding: 15px;
  font-size: 1.3rem;

}

.crd .con-text {
  
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  color: black;
  text-size: 14px;

}

h2 {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  opacity: .6;
  margin-top: 10px;
}

.crd .con-img {
  width: calc(100%-80px);
  margin: 0px 30px;
  margin-top: -90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-out;
}

.crd img {
  height: 225px;
}

.crd img.blur {
  position: absolute;
  filter: blur(15px);
  z-index: -1;
  opacity: .35;
  transform: translate(-10px, 10px) scale(.85);
  transition: all .35s ease-out;
}

.con-cards {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: auto;
  margin-top: 4%;

}


@media (max-width: 1024px) {

  .info {

      margin-top: 110px;
      width: 90%;

  }

  .title {

      text-align: center;
      padding-top: 13vh;
      color: white;
      font-size: 3em;
  
  }
}

@media (max-width: 375px) {

  .title {

      font-size: 1.5em;

  }


}

@media (max-width: 400px) {

  .logo {

      height: 1.5em;
      width: 5em;
      margin: 0.5em;
  
  }
  
  .join {
  
      font-size: 0.8em;
      margin: 1em;
      margin-top: 1.1em;
  
  }

}
